---
import ProjectsItem from "./ProjectsItem.astro";
import Angular from "../icons/Angular.astro";
import HtmlIcon from "../icons/Html.astro"
import CssIcon from "../icons/Css.astro"
import TailwindIcon from "../icons/Tailwind.astro"
import LaravelIcon from "../icons/Laravel.astro"
import AngularIcon from "../icons/Angular.astro"
import NodeIcon from "../icons/Node.astro"
import ExpressIcon from "../icons/Express.astro"
import MysqlIcon from "../icons/Mysql.astro"
import PostgresIcon from "../icons/Postgres.astro"
import NestIcon from "../icons/Nest.astro"
import DotNetIcon from "../icons/Dotnet.astro"
import PhpIcon from "../icons/Php.astro"
import JavaScriptIcon from "../icons/JavaScript.astro"
import TypeScriptIcon from "../icons/TypeScript.astro"
import ReactIcon from "../icons/React.astro"

const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-[#631501] text-white",
    icon: HtmlIcon,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#264de4] text-white",
    icon: CssIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: TailwindIcon,
  },
  LARAVEL: {
    name: "Laravel",
    class: "bg-[#ff2d20] text-white",
    icon: LaravelIcon,
  },
  ANGULAR: {
    name: "Angular",
    class: "bg-[#640604] text-white",
    icon: AngularIcon,
  },
  NODE: {
    name: "Node.js",
    class: "bg-[#68a063] text-white",
    icon: NodeIcon,
  },
  EXPRESS: {
    name: "Express",
    class: "bg-[#000000] text-white",
    icon: ExpressIcon,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-[#00758f] text-white",
    icon: MysqlIcon,
  },
  POSTGRES: {
    name: "PostgreSQL",
    class: "bg-[#336791] text-white",
    icon: PostgresIcon,
  },
  NEST: {
    name: "NestJS",
    class: "bg-[#e0234e] text-white",
    icon: NestIcon,
  },
  DOTNET: {
    name: ".NET",
    class: "bg-[#2a1570] text-white",
    icon: DotNetIcon,
  },
  PHP: {
    name: "PHP",
    class: "bg-[#8892be] text-white",
    icon: PhpIcon,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#f7df1e] text-white",
    icon: JavaScriptIcon,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#3178c6] text-white",
    icon: TypeScriptIcon,
  },
  REACT: {
    name: "React",
    class: "bg-[#264de4] text-white",
    icon: ReactIcon,
  },
};

const PROJECTS = [
  {
    title: "Aplicación de gestión de tareas",
    description:
      "Aplicación de gestión de tareas. Permite crear, editar y eliminar tareas. Desarrollada con .Net, Angular, Tailwind CSS y Material IU.",
    link: "https://jefer15.github.io/task_front/",
    githubFront: "https://github.com/jefer15/task_front.git",
    githubBack: "https://github.com/jefer15/task_back.git",
    image: "/projects/task.png",
    tags: [TAGS.HTML, TAGS.TAILWIND, TAGS.ANGULAR, TAGS.DOTNET]
  },
  {
    title: "ChatGPT Web Assistant",
    description:
      "Aplicación web que permite a los usuarios interactuar con un chatbot impulsado por la API de OpenAI (ChatGPT). El asistente responde de manera natural y amigable, simulando una conversación fluida.",
    githubFront: "https://github.com/jefer15/chatbot.git",
    image: "/projects/chatbot.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.REACT]
  },
];
---

<div class="flex mt-16 flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, githubFront, githubBack }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <ProjectsItem
          image={image}
          title={title}
          description={description}
          tags={tags}
          link={link}
          githubFront={githubFront}
          githubBack={githubBack}
        />
      </article>
    ))
  }
</div>
